body {
	background: #000000;
}

.topbar {
	/* border-radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#base {
	background: #ffffff;
	width: 300px;
	height: 500px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	
	/* border-radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#username {
	background: #c0c0c0;
	padding: 5px;
}

#minimize-button {
	background: #c0c0c0;
	padding: 5px;
	text-align: center;
	padding: 5px;
}

#close-button {
	background: #c0c0c0;
	padding: 5px;
	text-align: center;
	padding: 5px;
}

.options {
	background: #c0c0cf;
	padding: 5px;
	
	/* border-radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#options-bar {
	
}

#text-input {
	width: inherit;
	height: 100px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 5px;
}

#textbox {
	position: relative;
	
	bottom: 0px;
	left: 0px;
	resize: none;
	overflow: auto;
	
}

#send {
	background: #c0c0c0;
	text-align: center;
	padding: 5px;
	
	/* border-radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}